.full-width-table {
  width: 100%;
}

.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-card {
  margin-bottom: 10px;
}



/* Contenedor de la lista horizontal */
.horizontal-card-list {
  display: flex;
  flex-wrap: nowrap; /* Evita que se desborde horizontalmente */

  /* Ajusta el espaciado entre los elementos según tus necesidades */
  gap: 16px; /* Espacio horizontal entre los elementos */
}

/* Estilos predeterminados para los elementos de la lista */
.mat-card.responsive-card {
  width: 300px; /* Ajusta el ancho según tus necesidades de diseño */

  /* Agrega cualquier otro estilo predeterminado aquí */
}

/* Media query para pantallas más estrechas que 768px */
@media screen and (max-width: 768px) {
  .horizontal-card-list {
    flex-direction: column; /* Cambia a disposición vertical */
    align-items: center; /* Centra verticalmente los elementos */

    /* Agrega cualquier otro estilo para pantallas más pequeñas */
  }

  .mat-card.responsive-card {
    width: 100%; /* Haz que los elementos ocupen todo el ancho */
    /* Agrega cualquier otro estilo para pantallas más pequeñas */
  }
}

/* Media query para pantallas más estrechas que 480px (p. ej., smartphones) */
@media screen and (max-width: 480px) {
  .mat-card.responsive-card {
    /* Ajusta el estilo según tus necesidades */
  }
}


.ellipsis-text {
  white-space: nowrap;         /* Evita el salto de línea */
  overflow: hidden;           /* Oculta el contenido que desborda el contenedor */
  text-overflow: ellipsis;    /* Agrega los puntos suspensivos */
  width: 200px;               /* Establece el ancho máximo del contenedor (ajusta según tus necesidades) */
}